@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
    @include column;
    background-color: white;
    width: 100%;

    &_eq {
        @include column;
        width: 100%;
        padding: 0.8rem 0 $padding__after-head--mobile;

        @include tablet {
            @include row;
            width: 91%;
            justify-content: space-between;
            max-width: 110.4rem;
            padding: 0;
        }
    }

    &__logo {
        height: 1.5625rem;
        width: 7.5rem;

        @include tablet {
            width: 7.2rem;
        }
    }

    &-right {
        @include column;
        width: 90%;

        @include tablet {
            @include row;
            width: 71%;
            max-width: 54vh;
        }

        @include desktop {
            max-width: 32.7rem;
        }

        &__search {
            @include row;
            justify-content: space-between;
            width: 100%;
            padding: $padding__after-head--mobile 0rem;
        }

        &__button {
            @include button--mobile;
            @include label--mobile;
            font-size: 0.78rem;
            padding: 1rem 0.48rem;
            @include row;
            justify-content: flex-start;
    
            &:hover {
                background-color: darkblue;
                cursor: pointer;
            }
    
            @include tablet {
                width: 17rem;
            }
    
            @include desktop {
                margin-right: 1rem;
            }
    
            &-eq {
                @include row;
                justify-content: space-between;
                width: 60%;
    
                @include tablet {
                    width: 6.2rem;
                }
            }
    
            &-icon {
                width: 1.32rem;
                left: 2rem;
            }
        }
    }
    &__user {
        &--mobile {
            @include user;

            @include tablet {
                display: none;
            }
        }
        &--tablet {
            display: none;

            @include tablet {
                display: block;
                @include user;
                margin-left: 1.2rem;
            }
        }
    }

    &-form {
        @include row;
        width: 100%;
        position: relative;
        right: 1rem;

        @include tablet {
            position: static;
            right: 0;
        }

        &__icon {
            width: 1rem;
            position: relative;
            left: 1.72rem;

            @include tablet {
                width: 1.1rem;
            }
        }

        &__box {
            @include input-box;
            height: 12vh;
            width: 100%;
            padding-left: 2.2rem;
            max-height: 2.5rem;
            font-family: avenir-next, Avenir, Arial, Helvetica, sans-serif;

            @include tablet {
                width: 90%;
            }

            @include desktop {
                width: 22.4vh;
            }
            &::placeholder {
                font-family: avenir-nexr, avenir, Arial, Helvetica, sans-serif;
                color: black;

                @include tablet {
                    @include label--tablet;
                    font-weight: 500;
                }
            }

            &:focus {
                border-color: blue;
                outline: none;
            }
        }
    }
}
