@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.sign {
    @include column;
    align-items: center;
    justify-content: center;

    &-header {
        width: 100%;
        background-color: $blue;
        padding: 0 4%;
        @include row;
        justify-content: space-between;
        padding-bottom: 1rem;

        @include tablet {
            @include column;
        }

        @include desktop {
        @include row;
        justify-content: space-between;
        }
        
        &__logo {
            font-size: 1.2rem;
            color: aliceblue;
        }
        &__actions {
            width: 20%;
            @include row;
            justify-content: space-between;
            max-width: 14rem;
            text-wrap: nowrap;
            &-signup {
                border: 0;
                padding: 0.4rem 1.6rem;
                border-radius: 0.2rem;
                background-color: white;
                font-weight: 600;
                color: $blue;
            }
            &-login {
                @extend .sign-header__actions-signup;
                @include mobile {
                    display: none;
                }
                @include tablet {
                    display: block;
                }
            }
        }
    }
    &-main {
        width: 100%;
        height: 100vh;

        &__eq {
            @include column;
            margin: 12vh 0;
        }
        &__welcome {
            letter-spacing: .2rem;
            font-weight: 100;
        }
        &__head {
            letter-spacing: .1rem;
            border-top: .2rem double rgb(6, 4, 39);
            border-bottom: .2rem double rgb(6, 4, 39);
            padding: 1rem 0;
            width: 40%;
            text-align: center;
            color: black;
        }
        &__form {
            @include column;

            &-username {
                resize: none;
                margin: 1rem 0;
                padding: .3rem 0 0 .4rem;
                &::placeholder {
                    font-family: avenir;
                }
            }
            &-password {
                @extend .sign-main__form-username;
            }

            &-submit {
                margin: 1rem 0;
                border-radius: .2rem;
                border: 0;
                padding: .5rem 1.8rem;
                cursor: pointer;

                &:hover {
                    background-color: $blue2;
                }
            }
            &-signup {
                @extend .sign-main__form-submit;
            }
        }
    }
}
