@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.player {
    width: 100%;
    background-color: black;

    @include tablet {
        width: 90%;
        max-width: 91.6vh;
    }
}
