$color1: #306D85;
$color2: #D93A54;

// Padding 
$padding__before-head--tablet: 2.25rem;
$padding__after-head--tablet: 1.5rem;
$padding__btwn-comps--tablet: 1.5rem;
$padding__before-head--mobile: 1.5rem;
$padding__after-head--mobile: 1rem;
$padding__btwn-comps--mobile: 1rem;

$typeface: avenir-next;